files:
  /usr/local/bin/genmcrouter.sh:
    owner: root
    group: root
    mode: "000750"
    content: |
      #!/bin/bash -x
      export EB_ELB_NAME=`{ "Ref": "AWSEBLoadBalancer" }`
      export EB_MEMCACHE=`{ "Ref": "ElastiCache" }`
      export EB_ENVIRONMENT_NAME=`{ "Ref": "AWSEBEnvironmentName" }`
      { 
        aws ec2 describe-instances --instance-ids $( \
          aws elasticbeanstalk describe-environment-resources --environment-name $EB_ENVIRONMENT_NAME \
          --query 'EnvironmentResources.Instances[].Id | join(`\t`,@)' --output text ) && \
        aws elasticache describe-cache-clusters --cache-cluster-id $EB_MEMCACHE --show-cache-node-info;  
      } | jq --slurp -f /usr/local/etc/mcrouter.jq > /efs/mcrouter.conf
      rm -f /opt/elasticbeanstalk/hooks/appdeploy/post/99_genmcrouter.sh

      # record resources for later scripts
      echo "EB_ELB_NAME=$EB_ELB_NAME" > /usr/local/etc/eb-resources
      echo "EB_MEMCACHE=$EB_MEMCACHE" >> /usr/local/etc/eb-resources
      echo "EB_ENVIRONMENT_NAME=$EB_ENVIRONMENT_NAME" >> /usr/local/etc/eb-resources

  /usr/local/etc/mcrouter.jq:
    owner: root
    group: root
    mode: "000644"
    content: |
      {
        "pools": {
          "local": {
            "servers": [
                      "127.0.0.1:11212"
            ]
          },
          "peers": {
            "servers": [ 
              (.[].Reservations?|select( . != null )| .[].Instances[]| [ .PrivateIpAddress, "11212"] |join(":") ) 
            ]
          },
          "central": {
            "servers":  
              ([.[].CacheClusters?|select(. != null)| .[].CacheNodes[].Endpoint|[.Address,.Port|tostring]|join(":")]) 
          }
        },
        "route": {
          "type": "OperationSelectorRoute",
          "default_policy": "PoolRoute|central",
          "operation_policies": {
            "delete": {
              "type": "AllFastestRoute",
              "children": [
                "PoolRoute|peers",
                "PoolRoute|central"
              ]
            },
            "set": {
              "type": "AllFastestRoute",
              "children": [
                "PoolRoute|peers",
                "PoolRoute|central"
              ]
            },
            "get": {
              "type": "WarmUpRoute",
              "cold": "PoolRoute|local",
              "warm": "PoolRoute|central"
            }
          }
        }
      }

commands:
  01_post_appdeploy_dir:
    command: mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post
  02_link_mcrouter_script:
    command: ln -s /usr/local/bin/genmcrouter.sh /opt/elasticbeanstalk/hooks/appdeploy/post/99_genmcrouter.sh

